.Content {
    background-color: #343a40;
    width: 100%;
    border: 1px solid #008B8B;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 70px;
    color: white;
    font-weight: bold;
}

.modal-90w {
    max-width: 95% !important;
}

.contractName-button {
    margin-left: 350px;
}

.abi-modal-title {
    text-align: center;
}

pre {
    color: #008B8B;
    font-weight: bolder;                                                                                                                         
}