.img-rotate {
    animation: rotation 8s infinite linear;
    margin-left: 370px;
    width: 100px;
    height: 100px;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }