.Button {
    color: palevioletred;
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid palevioletred;
    border-radius: 3px;
}

.read-more-link{
    color: blueviolet;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
  }
.extra-content{
    color: cornflowerblue;
    font-weight: 500;
  }

.read-more-btn :hover {
  text-decoration: none;
  background-color: none;
  outline: none;
  }

.read-more-btn :focus {
    text-decoration: none;
    background-color: none;
    outline: none;
    }

.read-more-btn :visited {
      text-decoration: none;
      background-color: none;
      outline: none;
      
  }

.read-more-btn :active {
    text-decoration: none;
    background-color: none;
    outline: none;
}

.link-button {
  border: 1px solid #008B8B;
  border-radius: 7px;
  padding: 7px;
  color: #008B8B;
}

.link-button:hover {
text-decoration: none;
color: white;
background-color: #44bcd8;
}