.Content {
    background-color: #343a40;
    background: -webkit-linear-gradient(to right, #343a40, #3A6073);
    width: 100%;
    border: 1px solid #008B8B;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 70px;
    color: white;
    font-weight: bolder;
    font-size: large;
}