.ContentUnique {
    background-color: #d7dde8;
    background: -webkit-linear-gradient(to right, #757f9a, #d7dde8);
    background: linear-gradient(to right, #757f9a, #757f9a);
    width: 100%;
    border: 1px solid #d7dde8;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
    font-weight: bolder;
    font-size: large;
}

.new-buttons {
    background-color: #757f9a !important;
    border: 1px solid #d7dde8 !important;
}
.new-buttons:hover {
    border: 0px solid #d7dde8;
    color: #757f9a !important;
    text-decoration: underline;    
    background-color: #d7dde8 !important;
}