.par {
    
    background-color: #343a40;
    background: -webkit-linear-gradient(to right, #343a40, #3A6073);
    background: linear-gradient(to right, #343a40, #3A6073);
    width: 100%;
    border: 1px solid #008B8B;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 50px;

}

.link-button {
    background-color: #E9967A !important;
    border: 1px solid #d7dde8 !important;
}

.link-button:hover {
    border: 0px solid #d7dde8;
    color: #757f9a !important;
    text-decoration: underline;    
    background-color: #d7dde8 !important;    
}

/* .par3{
    background-color: #272B30;
    width: 100%;
    border: 1px solid #008B8B;
    padding: 50px;
    margin: 20px;
    border-radius: 5px;
    
} */


.Anchor {
    text-decoration: underline;
    color: white;
}

.Anchor:active {
    text-decoration: underline;
  }

.Anchor:hover {
    text-decoration: underline;
    background-color: #d7dde8 !important;
    color: #000 !important;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Anchor:visited {
    text-decoration: none;
    background-color: #29cbd1;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }



  .bar {
    background: #FF7F50;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    bottom: 0;
    padding: 8vw;    
    text-align: center;  
    margin-top: 1vw;
    
  }
  
  .circle {
    position: relative;
    top: -10px;
    border-radius: 100%;
    background: white;
    width: 60px;
    height: 60px;
    margin: 0 16px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    transition: box-shadow ease-in 150ms;
    background: white;
    border: 0;
    outline: none;
  }
  
  .circle:hover {
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, .125);
  }
  
  .circle:active {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .125);
  }
  
  .circle::before,
  .circle::after {
    content: "";
    position: absolute;
    top: 4px;
    width: 32px;
    height: 6px;
    background: white;
    z-index: 1;
  }
  
  .circle::before {
    left: -18px;
    background: radial-gradient(ellipse at 0% -25%, transparent 0, transparent 70%, white 70%, white 100%);
  }
  
  .circle::after {
    right: -18px;
    background: radial-gradient(ellipse at 100% -25%, transparent 0, transparent 70%, white 70%, white 100%);
  }