.style-hr {
    overflow: visible; 
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
.style-hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.heading-two:hover {
    color: 008B8B;
    
    margin-left: 250px;
    margin-right: 250px;
    cursor: pointer;
}

.div-it:hover {
    color: 008B8B;
    background-color: #272B30;
    margin-left: 250px;
    margin-right: 250px;
    cursor: pointer;
}